<div class="center jumbotron">
<% provide(:title, "Contacts") %>



    <section class="background-gray-lightest">
      <div class="container">
        <div class="breadcrumbs">
          <ul class="breadcrumb">
            <li><a href="<%= home_path %>">Home</a></li>
           
          </ul>
        </div>
        <h1 class="heading"></h1>
        <p class="lead">We will like to hear from you.  </p>
      </div>
    </section>
    <section>  
      <div id="contact" class="container">
        <div class="row">
          <div class="col-lg-4">
            <div class="box-simple">
              <div class="icon"><i class="pe-7s-map-2"></i></div>
              <h4 class="heading margin-bottom">Address</h4>
              <p><br>Kyiv<br>Ukraine </p>
            </div>
            <div class="box-simple">
              <div class="icon"><i class="pe-7s-phone"></i></div>
              <h4 class="heading margin-bottom">Call center</h4>
              <p class="text-muted"></p>
              <p><strong>+38 066 289 91 33</strong></p>
            </div>
            <div class="box-simple">
              <div class="icon"><i class="pe-7s-mail-open"></i></div>
              <h4 class="heading margin-bottom">Send your quotes on email</p>
              <ul>
                <li><a href="mailto:">ritz.rkraft@gmail.com</a></li>
              
              </ul>
            </div>
          </div>
          <div class="col-lg-7 col-lg-offset-1">
            <div class="icon"><i class="pe-7s-pen"></i></div>
            <h4 class="heading margin-bottom">Contact form</h4>
            <p class="text-muted">Ask a question or make a proposition</p>
            <form>
              <%= form_for(@inquiry, path: '/inquiries', method: :post) do |f| %>
                <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="firstname">Firstname</label>
                    <%= f.text_field :first_name, placeholder: "First name" %>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="secondname">Lastname</label>
                    <%= f.text_field :second_name, placeholder: "Last name" %>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="email">Email</label>
                    <%= f.email_field :email, placeholder: "Type your email address" %>
                    
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="subject">Subject</label>
                    <%= f.text_field :subject, placeholder: "Subject" %>
                  </div>
                </div>
                <div class="col-sm-12">
                  <div class="form-group">
                    <label for="message">Message</label>
                    <%= f.text_field :message, placeholder: "Write inquiring details here" %>
                  </div>
                </div>
                <div class="col-sm-12">
                   <div class="form-group">
                  <%= f.button 'Submit', class: 'submit', type: 'submit' %>
                  <% end %>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
    <div id="map"></div>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBu5nZKbeK-WHQ70oqOWo-_4VmwOwKP9YQ"></script>
    <script src="https://www.google.com/maps/embed/v1/MODE?key=AIzaSyCImVA9mhtyEYa5kABn2kVi4f9gQPtNG1k&parameters"></script>
   
    <footer class="footer">
      <div class="footer__block">
        <div class="container">
          <div class="row">
            <div class="col-md-8 col-sm-12">
              <h4 class="heading">About Us </h4>
              <p>We develop and produce plastic packaging of any shape and complexity, for a wide range of goods, containers, lunch boxes, sushi boxes.  Our production is characterized by an individual approach, we can select the optimal form of packaging material, attractive and optimized design, with your company logo.  </p>
            </div>
            

              
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- Javascript files-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.cookie.js"> </script>
    <script src="js/lightbox.min.js"></script>
    <script src="js/front.js"></script>
    
    <script>
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='//www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-XXXXX-X');ga('send','pageview');
    </script>
  </body>
</html>