<div class="center jumbotron">
<h1>Rkraftcomua</h1>

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="robots" content="all,follow">
    <meta name="googlebot" content="index,follow,snippet,archive">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Rkraftcomua | plastics and molding</title>
    <meta name="keywords" content="">
    <!-- Bootstrap CSS-->
   
    <!-- Google fonts - Montserrat and Merriweather-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700|Merriweather:400,400italic" rel="stylesheet" type="text/css">

  <%= stylesheet_link_tag 'carousel.css', media: 'print, screen' %>
  <%= javascript_include_tag('jquery.js') %>
  <%= javascript_include_tag('jquery.min.js') %>
 <%= javascript_include_tag('bootstrap.min.js') %>
 <%= javascript_include_tag('carousel.js') %>
    <!-- Font Awesome css-->


    <link rel="shortcut icon" href="favicon.png">
  </head>
  <body class="undefined">
     <style>
  .carousel-inner > .carousel-item > img,
  .carousel-inner > .carousel-item > a > img {
      width: 70%;
      margin: auto;
  }
  </style>
    
    <!-- *** LOGIN MODAL END ***-->
    <!-- *** SLIDER ***-->
    <div id="carousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#carousel" data-slide-to="0" class="active"></li>
    <li data-target="#carousel" data-slide-to="1"></li>
    <li data-target="#carousel" data-slide-to="2"></li>
  </ul>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="<%= asset_path 'box1.jpg' %>" alt="lunchbox">
      <div class="carousel-caption">
        <h3>Lunch-boxes</h3>
        <p>Molding</p>
      </div>
    </div>

    <div class="carousel-item">
      <img src="<%= asset_path 'suchiboxx.jpg' %>" alt="clamshell">
      <div class="carousel-caption">
        <h3>Suchi-boxes</h3>
        <p>Molding</p>
      </div>
    </div>

    <div class="carousel-item">
      <img src="<%= asset_path 'shelforg.jpg' %>" alt="shelforganizer">
      <div class="carousel-caption">
        <h3>Molded trays</h3>
        <p>Molding</p>
      </div>
    </div>
  </div>
    
  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#carousel" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#carousel" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>
<script>
$(document).ready(function(){
    // Activate Carousel
    $("#carousel").carousel();
    
    // Enable Carousel Indicators
    $(".item1").click(function(){
        $("#carousel").carousel(0);
    });
    $(".item2").click(function(){
        $("#carousel").carousel(1);
    });
    $(".item3").click(function(){
        $("#carousel").carousel(2);
    });

    
    // Enable Carousel Controls
    $(".left").click(function(){
        $("#carousel").carousel("prev");
    });
    $(".right").click(function(){
        $("#carousel").carousel("next");
    });
});
</script>


    <!-- /#slider-->
    <!-- *** SLIDER END ***-->
    <div id="all">
       <div id="content">
        <div class="container">
          <!-- *** ADVANTAGES ***-->
          <div id="advantages">
            <div class="box text-center">
              <h3 class="text-uppercase">About Us</h3>
              <p>We make promotional products and plastic packaging for a long time.
Our equipment and experience allow to propose you promotional products and packaging that will store, display and sell your goods the best way.
We always proudly note as sells of our customers grow. </p>
              <div class="same-height-row row">
                <div class="col-md-3 col-6 justify-content-md-center align-items-md-center">
                  <div class="box no-border d-flex justify-content-center align-items-center">
                    <div class="icon"><i class="fa fa-heart-o"></i></div>
                    <h4><a href="text.html">Satisfied customers</a></h4>
                  </div>
                </div>
                <div class="col-md-3 col-6">
                  <div class="box no-border d-flex justify-content-center align-items-center">
                    <div class="icon"><i class="fa fa-tags"></i></div>
                    <h4><a href="text.html">Best prices</a></h4>
                  </div>
                </div>
                <div class="col-md-3 col-6">
                  <div class="box no-border d-flex justify-content-center align-items-center">
                    <div class="icon"><i class="fa fa-send-o"></i></div>
                    <h4><a href="faq.html">Next day delivery</a></h4>
                  </div>
                </div>
                <div class="col-md-3 col-6">
                  <div class="box no-border d-flex justify-content-center align-items-center">
                    <div class="icon"><i class="fa fa-refresh"></i></div>
                    <h4><a href="contact.html">Free returns for 3 months</a></h4>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- /#advantages-->
          <!-- *** ADVANTAGES END ***-->
          <div class="box text-center">
            <h3 class="text-uppercase">View the Gallery</h3>
            <h4 class="text-muted"><span class="accent">Find your solution</span> for design</h4>
          </div>
          <div class="row products">
            <div class="col-md-3 col-sm-4">
              <div class="product">
                <div class="image"><a href="<%= gallery_path %>"><img src="<%= asset_path 'title.png' %>" alt="Rkraft" class="img-fluid image1"></a>
                  <div class="quick-view-button"><a href="#" data-toggle="modal" data-target="#product-quick-view-modal" class="btn btn-outline-white-secondary btn-sm">Quick view</a></div>
                </div>
                <!-- /.image-->
                <div class="text">
                  <h3><a href="#">Plastic packaging: lunchboxes</a></h3>
                  <p class="price">$ 0.44</p>
                </div>
                <!-- /.text-->
              </div>
              <!-- /.product-->
            </div>
            <div class="col-md-3 col-sm-4">
              <div class="product">
                <div class="image"><a href="<%= products_path %>"><img src="<%= asset_path 'shelftalkers.jpg' %>" alt="" class="img-fluid image1"></a>
                  <div class="quick-view-button"><a href="#" data-toggle="modal" data-target="#product-quick-view-modal" class="btn btn-outline-white-secondary btn-sm">Quick view</a></div>
                </div>

                <!-- /.image-->
                <div class="text">
                  <h3><a href="detail.html">Shelftalker</a></h3>
                  <p class="price">
                    <del>$2.4</del> $2.12
                  </p>
                </div>
                <!-- /.text-->
                <div class="ribbon sale">
                  <div class="theribbon">SALE</div>
                  <div class="ribbon-background"></div>
                </div>
                <!-- /.ribbon-->
                <div class="ribbon new">
                  <div class="theribbon">NEW</div>
                  <div class="ribbon-background"></div>
                </div>
                <!-- /.ribbon-->
              </div>
              <!-- /.product-->
            </div>
            <div class="col-md-3 col-sm-4">
              <div class="product">
                <div class="image"><a href="<%= products_path %>"><img src="<%= asset_path 'box1.jpg' %>" alt="" class="img-fluid image1"></a>
                  <div class="quick-view-button"><a href="#" data-toggle="modal" data-target="#product-quick-view-modal" class="btn btn-outline-white-secondary btn-sm">Quick view</a></div>
                </div>
                <!-- /.image-->
                <div class="text">
                  <h3><a href="detail.html">Lunch Box</a></h3>
                  <p class="price">$0.52</p>
                </div>
                <!-- /.text-->
              </div>
              <!-- /.product-->
            </div>
            <div class="col-md-3 col-sm-4">
              <div class="product">
                <div class="image"><a href="<%= products_path %>"><img src="<%= asset_path 'blp.png' %>" alt="" class="img-fluid image1"></a>
                  <div class="quick-view-button"><a href="#" data-toggle="modal" data-target="#product-quick-view-modal" class="btn btn-outline-white-secondary btn-sm">Quick view</a></div>
                </div>
                <!-- /.image-->
                <div class="text">
                  <h3><a href="detail.html">Clamshell</a></h3>
                  <p class="price">$0.1</p>
                </div>
                <!-- /.text-->
              </div>
              <!-- /.product-->
            </div>
            <div class="col-md-3 col-sm-4">
              <div class="product">
                <div class="image"><a href="<%= products_path %>"><img src="<%= asset_path 'shelforg.jpg' %>" alt="" class="img-fluid image1"></a>
                  <div class="quick-view-button"><a href="#" data-toggle="modal" data-target="#product-quick-view-modal" class="btn btn-outline-white-secondary btn-sm">Quick view</a></div>
                </div>
                <!-- /.image-->
                <div class="text">
                  <h3><a href="detail.html">Molded dispenser</a></h3>
                  <p class="price">
                    <del>$280</del> $6.05
                  </p>
                </div>
                <!-- /.text-->
                <div class="ribbon sale">
                  <div class="theribbon">SALE</div>
                  <div class="ribbon-background"></div>
                </div>
                <!-- /.ribbon-->
                <div class="ribbon new">
                  <div class="theribbon">NEW</div>
                  <div class="ribbon-background"></div>
                </div>
                <!-- /.ribbon-->
              </div>
              <!-- /.product-->
            </div>
            <div class="col-md-3 col-sm-4">
              <div class="product">
                <div class="image"><a href="<%= products_path %>"><img src="<%= asset_path 'suchiboxx.jpg' %>" alt="" class="img-fluid image1"></a>
                  <div class="quick-view-button"><a href="#" data-toggle="modal" data-target="#product-quick-view-modal" class="btn btn-outline-white-secondary btn-sm">Quick view</a></div>
                </div>
                <!-- /.image-->
                <div class="text">
                  <h3><a href="detail.html">Suchi-box</a></h3>
                  <p class="price">$0.44</p>
                </div>
                <!-- /.text-->
                <div class="ribbon new">
                  <div class="theribbon">NEW</div>
                  <div class="ribbon-background"></div>
                </div>
                <!-- /.ribbon-->
              </div>
              <!-- /.product-->
            </div>
            <div class="col-md-3 col-sm-4">
              <div class="product">
                <div class="image"><a href="<%= products_path %>"><img src="<%= asset_path 'disacr.jpg' %>" alt="" class="img-fluid image1"></a>
                  <div class="quick-view-button"><a href="#" data-toggle="modal" data-target="#product-quick-view-modal" class="btn btn-outline-white-secondary btn-sm">Quick view</a></div>
                </div>
                <!-- /.image-->
                <div class="text">
                  <h3><a href="<%= products_path %>">Acryllic Display</a></h3>
                  <p class="price">$143.00</p>
                </div>
                <!-- /.text-->
                <div class="ribbon new">
                  <div class="theribbon">NEW</div>
                  <div class="ribbon-background"></div>
                </div>
                <!-- /.ribbon-->
              </div>
              <!-- /.product-->
            </div>
            <div class="col-md-3 col-sm-4">
              <div class="product">
                <div class="image"><a href="<%= products_path %>"><img src="<%= asset_path 'cosmetics.jpg' %>" alt="" class="img-fluid image1"></a>
                  <div class="quick-view-button"><a href="#" data-toggle="modal" data-target="#product-quick-view-modal" class="btn btn-outline-white-secondary btn-sm">Quick view</a></div>
                </div>
                <!-- /.image-->
                <div class="text">
                  <h3><a href="detail.html">Acryllic Stand</a></h3>
                  <p class="price">$5.2</p>
                </div>
                <!-- /.text-->
              </div>
              <!-- /.product-->
            </div>
            <!-- /.col-md-4-->
            <div id="product-quick-view-modal" tabindex="-1" role="dialog" aria-hidden="false" class="modal fade">
              <div class="modal-dialog modal-lg">
                <div class="modal-content">
                  <div class="modal-body">
                    <button type="button" data-dismiss="modal" aria-hidden="true" class="close">×</button>
                    <div class="row quick-view product-main">
                      <div class="col-sm-6">
                        <div class="quick-view-main-image"><img src="img/detailbig1.jpg" alt="" class="img-fluid"></div>
                        <div class="ribbon ribbon-quick-view sale">
                          <div class="theribbon">SALE</div>
                          <div class="ribbon-background"></div>
                        </div>
                        <!-- /.ribbon-->
                        <div class="ribbon ribbon-quick-view new">
                          <div class="theribbon">NEW</div>
                          <div class="ribbon-background"></div>
                        </div>
                        <!-- /.ribbon-->
                        <div class="row thumbs">
                          <div class="col-4"><a href="<%= asset_path 'box5.jpg' %>" class="thumb"><img src="<%= asset_path 'box5.jpg' %>"" alt="" class="img-fluid"></a></div>
                          <div class="col-4"><a href="<%= asset_path 'box1.jpg' %>" class="thumb"><img src="<%= asset_path 'box1.jpg' %>" alt="" class="img-fluid"></a></div>
                          <div class="col-4"><a href="<%= asset_path 'suchiboxx.jpg' %>" class="thumb"><img src="<%= asset_path 'suchiboxx.jpg' %>" alt="" class="img-fluid"></a></div>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <h2>Lunch  box / Suchi box / Salad-box</h2>
                        <p class="text-muted text-small text-center">Lunch box has durable and fit bottom (black) and cover (transparent), made of quality PET. Product is good for posing and shelving foods at shops, or for food delivery companies, restaurant networks. Product is made for demand, it is unique, fitting customers' sizes and design, may have logo on cover. Lunch box has durable and fit bottom (black) and cover (transparent), made of high quality PET. </p>
                        <div class="box">
                          <form>
                            <div class="sizes">
                              <h3>Available sizes</h3>
                              <label for="size_s"><a href="#">300*800</a>
                                <input id="size_s" type="radio" name="size" value="s" class="size-input">
                              </label>
                              <label for="size_m"><a href="#">1200*1200</a>
                                <input id="size_m" type="radio" name="size" value="m" class="size-input">
                              </label>
                              <label for="size_l"><a href="#">610*750</a>
                                <input id="size_l" type="radio" name="size" value="l" class="size-input">
                              </label>
                            </div>
                            <p class="price">$0.44</p>
                            <p class="text-center">
                              <button type="submit" class="btn btn-outline-primary"><i class="fa fa-shopping-cart"></i> Add to cart</button>
                              <button type="submit" data-toggle="tooltip" data-placement="top" title="Add to wishlist" class="btn btn-outline-secondary"><i class="fa fa-heart-o"></i></button>
                            </p>
                          </form>
                        </div>
                        <!-- /.box-->
                        <div class="quick-view-social">
                          <h4>Show it to your friends</h4>
                          <p><a href="#" data-animate-hover="pulse" class="external facebook"><i class="fa fa-facebook"></i></a><a href="#" data-animate-hover="pulse" class="external gplus"><i class="fa fa-google-plus"></i></a><a href="#" data-animate-hover="pulse" class="external twitter"><i class="fa fa-twitter"></i></a><a href="#" data-animate-hover="pulse" class="email"><i class="fa fa-envelope"></i></a></p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /.modal-dialog-->
            </div>
            <!-- /.modal-->
          </div>
          <!-- /.products-->
        </div>
        <!--
        *** PROMO BAR ***
        _________________________________________________________
        -->
        <div class="bar background-image-fixed-2 no-mb color-white text-center">
          <div class="dark-mask"></div>
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <div class="icon icon-lg"><i class="fa fa-file-code-o"></i></div>
                <h1>Do you want to see more?</h1>
                <p class="lead">Molded plastic stand for chocolate , for 2 types , with sticker ,  silk-screen printing</p>
                <p class="text-center"><a href="index2.html" class="btn btn-outline-white-primary">See latest gallery </a></p>
              </div>
            </div>
          </div>
        </div>
        <!-- *** PROMO BAR END ***-->
        <div class="container">
          <!--
          *** BLOG HOMEPAGE ***
          _________________________________________________________
          -->
          <div class="box text-center">
            <h3 class="text-uppercase">From our blog</h3>
            <p class="text-italic text-large">Find us on social media <span class="accent">Check our blog!</span></p>
          </div>
          <div id="blog-homepage" class="row">
            <div class="col-sm-6">
              <div class="post">
                <h4><a href="#">Trade equipment products</a></h4>
                <p class="author-category">By <a href="#">Catalog</a> in <a href="">Our style</a></p>
                <hr>
                <p class="intro">We produce custom prodmotional and trade equipment for shops and brand promotion for about 15 years. We combine plastic production technologies and different branding technics to meet your needs.</p>
                <p class="read-more"><a href="#" class="btn btn-outline-primary">Continue reading</a></p>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="post">
                <h4><a href="#">Who is who - example blog post</a></h4>
                <p class="author-category">Custom <a href="#">Plastic Packaging</a> in <a href="">About Us</a></p>
                <hr>
                <p class="intro">We have rich experience in plastic packaging production for foods, candies, retail, householding goods, hardware, fasteners of PET, PVC, PP, HIPS , with thickness of material from 0,2 to 2 mm. We have facilities and knowledge to support and provide quality for customized plastic packaging. We made customized plastic packaging of all types, starting with 3d-model prototyping, picking material, building пресс-форму and then molding products. </p>
                <p class="read-more"><a href="#" class="btn btn-outline-primary">Continue reading</a></p>
              </div>
            </div>
          </div>
          <!-- /#blog-homepage-->
          <!-- *** BLOG HOMEPAGE END ***-->
        </div>
      </div>
    </div>
    <div id="all"> 
      <div id="content">
        <div class="container">
        </div>
      </div>
      <!-- *** FOOTER ***-->
      <div id="footer">
        <div class="container">
          <div class="row">
            <div class="col-lg-3 col-md-6">
              <h4>Pages</h4>
              <ul>
                <li><a href="#">About us</a></li>
                <li><a href="#">Adresses</a></li>
                <li><a href="#">FAQ</a></li>
                <li><a href="<%= contacts_path %>">Contact us</a></li>
              </ul>
             
              <h4>User section</h4>
              <ul>
                <li><a href="<%= new_user_session_path %>">Login</a></li>
                <li><a href="<%= new_user_registration_path %>">Register</a></li>
              </ul>
            
            </div>
            <!-- /.col-lg-3-->
                      <h3>Catalog</h3>
                      <ul>
                        <li><a href="#">Acryllic Stands</a></li>
                        <li><a href="#l">Metal Stands</a></li>
                        <li><a href="#">Molded Displays</a></li>
                        <li><a href="#">Clamshells</a></li>
                      </ul>
                    </div>
                    <div class="col-sm-4 col-lg-3">
                      <h3>Additional</h3>
                      <ul>
                        <li><a href="#">POS clamshells</a></li>
                        <li><a href="#">Blinks and Lighting</a></li>
                        <li><a href="#">Shelftalkers</a></li>
                        <li><a href="#">Accessories</a></li>
                      </ul>
                    </div>
                    <div class="col-sm-4 col-lg-3">
                      <h3>Servives</h3>
                      <ul>
                        <li><a href="#">Design</a></li>
                        <li><a href="#">Constructing</a></li>
                        <li><a href="#">3D Modelling</a></li>
                        <li><a href="#">Consulting</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
            <!-- /.col-lg-3-->
            <div class="col-lg-3 col-md-6">
              <h4>Where to find us</h4>
              <p><strong>Maps</strong><br>Ukraine<br>		Kyiv Region <br>		Find on map<br>		Kyiv <br><strong>Contacts </strong></p><a href="<%= contacts_path %>">Go to contact page</a>
              <hr class="d-block d-md-none">
            </div>
            <!-- /.col-lg-3-->
            <div class=container>
            <div class="col-lg-3 col-md-6">
            
              <h4>Get the news</h4>
            </div>
              <div class="col-lg-3 col-md-6">
              <div class="form-holder">
             <%= form_for(@subscription, path: '/subscriptions', method: :post) do |f| %>
                <div class="form-group">
                  <%= f.email_field :email, placeholder: 'Type your email address' %>
                  <%= f.button 'Subscribe', class: 'submit', type: 'submit' %>
                  
                  <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>

                <!-- /input-group-->
              </form>
              <hr>
              <h4>Stay in touch</h4>
              <p class="social"><a href="#"><i class="fa fa-facebook-square"></i></a><a href="#"><i class="fa fa-instagram"></i></a><a href="#"><i class="fa fa-google-plus"></i></a><a href="#"><i class="fa fa-envelope"></i></a></p>
            </div>
            <!-- /.col-lg-3-->
          </div>
          <!-- /.row-->
        </div>
        <!-- /.container-->
      </div>
      <!-- /#footer-->
      <!-- *** FOOTER END ***-->

    </div>
    <!-- #### JavaScript files ###-->
   
    <!-- main script-->
   
  </body>
</html>
