

   <div class="bar background-image-fixed-3 no-mb color-white text-center">
          <div class="dark-mask"></div>
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <div class="icon icon-lg"><i class="fa fa-file-code-o"></i></div>
                <h1><%= t('main.home.seemore') %></h1>
                <p class="lead"><%= t('.rtitle') %></p>
                <p class="text-center"><a href="<%= gallery_path %>" class="btn btn-outline-white-primary"><%= t('main.home.2_gallery_s') %></a></p>
              </div>
            </div>
          </div>
        </div>
        <!-- *** PROMO BAR END ***-->
        <div class="container">

<div class="col-sm-6">
              <div class="post">
                <h4><a href="#"><%= t('.prod') %></a></h4>
                <p class="author-category"><%= t('.custom') %><a href="#"><%= t('.and') %></a><%= t('.metal') %><a href=""><%= t('.wired') %></a></p>
                <hr>
                <p class="intro"><%= t('.description') %></p>
                <p class="read-more"><a href="<%= products_path %>" class="btn btn-outline-primary"><%= t('.goproducts') %></a></p>
              </div>
            </div>
          </div>

            <div class="row products">
            <div class="col-md-3 col-sm-4">
              <div class="product">
                <div class="image"><a href="<%= gallery_path %>"><img src="<%= asset_path 'metal_rack.jpg' %>" alt="Rkraft" class="img-fluid image1"></a>
                  <div class="quick-view-button"><a href="#" data-toggle="modal" data-target="#product-quick-view-modal" class="btn btn-outline-white-secondary btn-sm"><%= t('main.home.qview') %></a></div>
                </div>
                <!-- /.image-->
                <div class="text">
                  <h3><a href="#"><%= t('.mpr') %></a></h3>
                  <p class="price">$ 71</p>
                </div>
                <!-- /.text-->
              </div>
              <!-- /.product-->
            </div>
            <div class="col-md-3 col-sm-4">
              <div class="product">
                <div class="image"><a href="<%= products_path %>"><img src="<%= asset_path 'rack_shelves.png' %>" alt="" class="img-fluid image1"></a>
                  <div class="quick-view-button"><a href="#" data-toggle="modal" data-target="#product-quick-view-modal" class="btn btn-outline-white-secondary btn-sm"><%= t('main.home.qview') %></a></div>
                </div>

                <!-- /.image-->
                <div class="text">
                  <h3><a href="detail.html"><%= t('.shelves') %></a></h3>
                  <p class="price">
                    <del>$17</del> $16.68
                  </p>
                </div>
                <!-- /.text-->
                <div class="ribbon sale">
                  <div class="theribbon">SALE</div>
                  <div class="ribbon-background"></div>
                </div>
                <!-- /.ribbon-->
                <div class="ribbon new">
                  <div class="theribbon">NEW</div>
                  <div class="ribbon-background"></div>
                </div>
                <!-- /.ribbon-->
              </div>
              <!-- /.product-->
            </div>
            <div class="col-md-3 col-sm-4">
              <div class="product">
                <div class="image"><a href="<%= products_path %>"><img src="<%= asset_path 'wirestand.jpg' %>" alt="" class="img-fluid image1"></a>
                  <div class="quick-view-button"><a href="#" data-toggle="modal" data-target="#product-quick-view-modal" class="btn btn-outline-white-secondary btn-sm"><%= t('main.home.qview') %></a></div>
                </div>
                <!-- /.image-->
                <div class="text">
                  <h3><a href="detail.html"><%= t('.wirestand') %></a></h3>
                  <p class="price">$2.74</p>
                </div>
                <!-- /.text-->
              </div>
              <!-- /.product-->
            </div>
            <div class="col-md-3 col-sm-4">
              <div class="product">
                <div class="image"><a href="<%= products_path %>"><img src="<%= asset_path 'rack_wire.jpg' %>" alt="" class="img-fluid image1"></a>
                  <div class="quick-view-button"><a href="#" data-toggle="modal" data-target="#product-quick-view-modal" class="btn btn-outline-white-secondary btn-sm"><%= t('main.home.qview') %></a></div>
                </div>
                <!-- /.image-->
                <div class="text">
                  <h3><a href="detail.html"><%= t('.shheader') %></a></h3>
                  <p class="price">$1.9</p>
                </div>
                <!-- /.text-->
              </div>
              <!-- /.product-->
            </div>
            <div class="col-md-3 col-sm-4">
              <div class="product">
                <div class="image"><a href="<%= products_path %>"><img src="<%= asset_path 'rack.jpg' %>" alt="" class="img-fluid image1"></a>
                  <div class="quick-view-button"><a href="#" data-toggle="modal" data-target="#product-quick-view-modal" class="btn btn-outline-white-secondary btn-sm"><%= t('main.home.qview') %></a></div>
                </div>
                <!-- /.image-->
                <div class="text">
                  <h3><a href="detail.html"><%= t('.rack') %></a></h3>
                  <p class="price">
                    <del>$95</del> $92
                  </p>
                </div>
                <!-- /.text-->
                <div class="ribbon sale">
                  <div class="theribbon">SALE</div>
                  <div class="ribbon-background"></div>
                </div>
                <!-- /.ribbon-->
                <div class="ribbon new">
                  <div class="theribbon">NEW</div>
                  <div class="ribbon-background"></div>
                </div>
                <!-- /.ribbon-->
              </div>
              <!-- /.product-->
            </div>
            <div class="col-md-3 col-sm-4">
              <div class="product">
                <div class="image"><a href="<%= products_path %>"><img src="<%= asset_path 'hook.png' %>" alt="" class="img-fluid image1"></a>
                  <div class="quick-view-button"><a href="#" data-toggle="modal" data-target="#product-quick-view-modal" class="btn btn-outline-white-secondary btn-sm"><%= t('main.home.qview') %></a></div>
                </div>
                <!-- /.image-->
                <div class="text">
                  <h3><a href="detail.html"><%= t('.hook') %></a></h3>
                  <p class="price">$0.98</p>
                </div>
                <!-- /.text-->
                <div class="ribbon new">
                  <div class="theribbon">NEW</div>
                  <div class="ribbon-background"></div>
                </div>
                <!-- /.ribbon-->
              </div>
              <!-- /.product-->
            </div>
            <div class="col-md-3 col-sm-4">
              <div class="product">
                <div class="image"><a href="<%= products_path %>"><img src="<%= asset_path 'racks_stand.jpg' %>" alt="" class="img-fluid image1"></a>
                  <div class="quick-view-button"><a href="#" data-toggle="modal" data-target="#product-quick-view-modal" class="btn btn-outline-white-secondary btn-sm"><%= t('main.home.qview') %></a></div>
                </div>
                <!-- /.image-->
                <div class="text">
                  <h3><a href="<%= products_path %>"><%= t('.mesh') %></a></h3>
                  <p class="price">$23.53</p>
                </div>
                <!-- /.text-->
                <div class="ribbon new">
                  <div class="theribbon">NEW</div>
                  <div class="ribbon-background"></div>
                </div>
                <!-- /.ribbon-->
              </div>
              <!-- /.product-->
            </div>
            <div class="col-md-3 col-sm-4">
              <div class="product">
                <div class="image"><a href="<%= products_path %>"><img src="<%= asset_path 'dispenser.jpg' %>" alt="" class="img-fluid image1"></a>
                  <div class="quick-view-button"><a href="#" data-toggle="modal" data-target="#product-quick-view-modal" class="btn btn-outline-white-secondary btn-sm"><%= t('main.home.qview') %></a></div>
                </div>
                <!-- /.image-->
                <div class="text">
                  <h3><a href="detail.html"><%= t('.mdispenser') %></a></h3>
                  <p class="price">$6.47</p>
                </div>
                <!-- /.text-->
              </div>
              <!-- /.product-->
            </div>
            <!-- /.col-md-4-->
            <div id="product-quick-view-modal" tabindex="-1" role="dialog" aria-hidden="false" class="modal fade">
              <div class="modal-dialog modal-lg">
                <div class="modal-content">
                  <div class="modal-body">
                    <button type="button" data-dismiss="modal" aria-hidden="true" class="close">×</button>
                    <div class="row quick-view product-main">
                      <div class="col-sm-6">
                        <div class="quick-view-main-image"><img src="img/detailbig1.jpg" alt="" class="img-fluid"></div>
                        <div class="ribbon ribbon-quick-view sale">
                          <div class="theribbon">SALE</div>
                          <div class="ribbon-background"></div>
                        </div>
                        <!-- /.ribbon-->
                        <div class="ribbon ribbon-quick-view new">
                          <div class="theribbon">NEW</div>
                          <div class="ribbon-background"></div>
                        </div>
                        <!-- /.ribbon-->
                        <div class="row thumbs">
                          <div class="col-4"><a href="<%= asset_path 'box5.jpg' %>" class="thumb"><img src="<%= asset_path 'box5.jpg' %>"" alt="" class="img-fluid"></a></div>
                          <div class="col-4"><a href="<%= asset_path 'box1.jpg' %>" class="thumb"><img src="<%= asset_path 'box1.jpg' %>" alt="" class="img-fluid"></a></div>
                          <div class="col-4"><a href="<%= asset_path 'suchiboxx.jpg' %>" class="thumb"><img src="<%= asset_path 'suchiboxx.jpg' %>" alt="" class="img-fluid"></a></div>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <h2>Lunch  box / Suchi box / Salad-box</h2>
                        <p class="text-muted text-small text-center">Lunch box has durable and fit bottom (black) and cover (transparent), made of quality PET. Product is good for posing and shelving foods at shops, or for food delivery companies, restaurant networks. Product is made for demand, it is unique, fitting customers' sizes and design, may have logo on cover. Lunch box has durable and fit bottom (black) and cover (transparent), made of high quality PET. </p>
                        <div class="box">
                          <form>
                            <div class="sizes">
                              <h3>Available sizes</h3>
                              <label for="size_s"><a href="#">300*800</a>
                                <input id="size_s" type="radio" name="size" value="s" class="size-input">
                              </label>
                              <label for="size_m"><a href="#">1200*1200</a>
                                <input id="size_m" type="radio" name="size" value="m" class="size-input">
                              </label>
                              <label for="size_l"><a href="#">610*750</a>
                                <input id="size_l" type="radio" name="size" value="l" class="size-input">
                              </label>
                            </div>
                            <p class="price">$0.44</p>
                            <p class="text-center">
                              <button type="submit" class="btn btn-outline-primary"><i class="fa fa-shopping-cart"></i> Add to cart</button>
                              <button type="submit" data-toggle="tooltip" data-placement="top" title="Add to wishlist" class="btn btn-outline-secondary"><i class="fa fa-heart-o"></i></button>
                            </p>
                          </form>
                        </div>

                   <div class="container">
    <footer class='<% controller.controller_name %>'>
    <%= yield %>
  </div>




</div>

</footer>