

   <div class="bar background-image-fixed-3 no-mb color-white text-center">
          <div class="dark-mask"></div>
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <div class="icon icon-lg"><i class="fa fa-file-code-o"></i></div>
                <h1>Do you want to see more?</h1>
                <p class="lead">Metal product stands of welded steel pipes, wire and mesh</p>
                <p class="text-center"><a href="<%= gallery_path %>" class="btn btn-outline-white-primary">See latest gallery </a></p>
              </div>
            </div>
          </div>
        </div>
        <!-- *** PROMO BAR END ***-->
        <div class="container">

<div class="col-sm-6">
              <div class="post">
                <h4><a href="#">Metal production</a></h4>
                <p class="author-category">Custom <a href="#">Metal Racks</a> and <a href="">Wired Stands</a></p>
                <hr>
                <p class="intro">We have rich experience in modeling and production of custom metal displays, racks and stands: Displays, racks, stands made of steel pipes and with polymer coating  of RAL color cast .</p>
                <p class="read-more"><a href="<%= products_path %>" class="btn btn-outline-primary">Go to products catalog</a></p>
              </div>
            </div>
          </div>

            <div class="row products">
            <div class="col-md-3 col-sm-4">
              <div class="product">
                <div class="image"><a href="<%= gallery_path %>"><img src="<%= asset_path 'metal_rack.jpg' %>" alt="Rkraft" class="img-fluid image1"></a>
                  <div class="quick-view-button"><a href="#" data-toggle="modal" data-target="#product-quick-view-modal" class="btn btn-outline-white-secondary btn-sm">Quick view</a></div>
                </div>
                <!-- /.image-->
                <div class="text">
                  <h3><a href="#">Metal products: racks</a></h3>
                  <p class="price">$ 71</p>
                </div>
                <!-- /.text-->
              </div>
              <!-- /.product-->
            </div>
            <div class="col-md-3 col-sm-4">
              <div class="product">
                <div class="image"><a href="<%= products_path %>"><img src="<%= asset_path 'rack_shelves.png' %>" alt="" class="img-fluid image1"></a>
                  <div class="quick-view-button"><a href="#" data-toggle="modal" data-target="#product-quick-view-modal" class="btn btn-outline-white-secondary btn-sm">Quick view</a></div>
                </div>

                <!-- /.image-->
                <div class="text">
                  <h3><a href="detail.html">Shelves</a></h3>
                  <p class="price">
                    <del>$17</del> $16.68
                  </p>
                </div>
                <!-- /.text-->
                <div class="ribbon sale">
                  <div class="theribbon">SALE</div>
                  <div class="ribbon-background"></div>
                </div>
                <!-- /.ribbon-->
                <div class="ribbon new">
                  <div class="theribbon">NEW</div>
                  <div class="ribbon-background"></div>
                </div>
                <!-- /.ribbon-->
              </div>
              <!-- /.product-->
            </div>
            <div class="col-md-3 col-sm-4">
              <div class="product">
                <div class="image"><a href="<%= products_path %>"><img src="<%= asset_path 'wirestand.jpg' %>" alt="" class="img-fluid image1"></a>
                  <div class="quick-view-button"><a href="#" data-toggle="modal" data-target="#product-quick-view-modal" class="btn btn-outline-white-secondary btn-sm">Quick view</a></div>
                </div>
                <!-- /.image-->
                <div class="text">
                  <h3><a href="detail.html">Wire stand</a></h3>
                  <p class="price">$2.74</p>
                </div>
                <!-- /.text-->
              </div>
              <!-- /.product-->
            </div>
            <div class="col-md-3 col-sm-4">
              <div class="product">
                <div class="image"><a href="<%= products_path %>"><img src="<%= asset_path 'rack_wire.jpg' %>" alt="" class="img-fluid image1"></a>
                  <div class="quick-view-button"><a href="#" data-toggle="modal" data-target="#product-quick-view-modal" class="btn btn-outline-white-secondary btn-sm">Quick view</a></div>
                </div>
                <!-- /.image-->
                <div class="text">
                  <h3><a href="detail.html">Wire shelf header </a></h3>
                  <p class="price">$1.9</p>
                </div>
                <!-- /.text-->
              </div>
              <!-- /.product-->
            </div>
            <div class="col-md-3 col-sm-4">
              <div class="product">
                <div class="image"><a href="<%= products_path %>"><img src="<%= asset_path 'rack.jpg' %>" alt="" class="img-fluid image1"></a>
                  <div class="quick-view-button"><a href="#" data-toggle="modal" data-target="#product-quick-view-modal" class="btn btn-outline-white-secondary btn-sm">Quick view</a></div>
                </div>
                <!-- /.image-->
                <div class="text">
                  <h3><a href="detail.html">Rack</a></h3>
                  <p class="price">
                    <del>$95</del> $92
                  </p>
                </div>
                <!-- /.text-->
                <div class="ribbon sale">
                  <div class="theribbon">SALE</div>
                  <div class="ribbon-background"></div>
                </div>
                <!-- /.ribbon-->
                <div class="ribbon new">
                  <div class="theribbon">NEW</div>
                  <div class="ribbon-background"></div>
                </div>
                <!-- /.ribbon-->
              </div>
              <!-- /.product-->
            </div>
            <div class="col-md-3 col-sm-4">
              <div class="product">
                <div class="image"><a href="<%= products_path %>"><img src="<%= asset_path 'hook.png' %>" alt="" class="img-fluid image1"></a>
                  <div class="quick-view-button"><a href="#" data-toggle="modal" data-target="#product-quick-view-modal" class="btn btn-outline-white-secondary btn-sm">Quick view</a></div>
                </div>
                <!-- /.image-->
                <div class="text">
                  <h3><a href="detail.html">Wire hook header</a></h3>
                  <p class="price">$0.98</p>
                </div>
                <!-- /.text-->
                <div class="ribbon new">
                  <div class="theribbon">NEW</div>
                  <div class="ribbon-background"></div>
                </div>
                <!-- /.ribbon-->
              </div>
              <!-- /.product-->
            </div>
            <div class="col-md-3 col-sm-4">
              <div class="product">
                <div class="image"><a href="<%= products_path %>"><img src="<%= asset_path 'racks_stand.jpg' %>" alt="" class="img-fluid image1"></a>
                  <div class="quick-view-button"><a href="#" data-toggle="modal" data-target="#product-quick-view-modal" class="btn btn-outline-white-secondary btn-sm">Quick view</a></div>
                </div>
                <!-- /.image-->
                <div class="text">
                  <h3><a href="<%= products_path %>">Mesh metal product stand</a></h3>
                  <p class="price">$23.53</p>
                </div>
                <!-- /.text-->
                <div class="ribbon new">
                  <div class="theribbon">NEW</div>
                  <div class="ribbon-background"></div>
                </div>
                <!-- /.ribbon-->
              </div>
              <!-- /.product-->
            </div>
            <div class="col-md-3 col-sm-4">
              <div class="product">
                <div class="image"><a href="<%= products_path %>"><img src="<%= asset_path 'dispenser.jpg' %>" alt="" class="img-fluid image1"></a>
                  <div class="quick-view-button"><a href="#" data-toggle="modal" data-target="#product-quick-view-modal" class="btn btn-outline-white-secondary btn-sm">Quick view</a></div>
                </div>
                <!-- /.image-->
                <div class="text">
                  <h3><a href="detail.html">Metal dispenser</a></h3>
                  <p class="price">$6.47</p>
                </div>
                <!-- /.text-->
              </div>
              <!-- /.product-->
            </div>
            <!-- /.col-md-4-->
            <div id="product-quick-view-modal" tabindex="-1" role="dialog" aria-hidden="false" class="modal fade">
              <div class="modal-dialog modal-lg">
                <div class="modal-content">
                  <div class="modal-body">
                    <button type="button" data-dismiss="modal" aria-hidden="true" class="close">×</button>
                    <div class="row quick-view product-main">
                      <div class="col-sm-6">
                        <div class="quick-view-main-image"><img src="img/detailbig1.jpg" alt="" class="img-fluid"></div>
                        <div class="ribbon ribbon-quick-view sale">
                          <div class="theribbon">SALE</div>
                          <div class="ribbon-background"></div>
                        </div>
                        <!-- /.ribbon-->
                        <div class="ribbon ribbon-quick-view new">
                          <div class="theribbon">NEW</div>
                          <div class="ribbon-background"></div>
                        </div>
                        <!-- /.ribbon-->
                        <div class="row thumbs">
                          <div class="col-4"><a href="<%= asset_path 'box5.jpg' %>" class="thumb"><img src="<%= asset_path 'box5.jpg' %>"" alt="" class="img-fluid"></a></div>
                          <div class="col-4"><a href="<%= asset_path 'box1.jpg' %>" class="thumb"><img src="<%= asset_path 'box1.jpg' %>" alt="" class="img-fluid"></a></div>
                          <div class="col-4"><a href="<%= asset_path 'suchiboxx.jpg' %>" class="thumb"><img src="<%= asset_path 'suchiboxx.jpg' %>" alt="" class="img-fluid"></a></div>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <h2>Lunch  box / Suchi box / Salad-box</h2>
                        <p class="text-muted text-small text-center">Lunch box has durable and fit bottom (black) and cover (transparent), made of quality PET. Product is good for posing and shelving foods at shops, or for food delivery companies, restaurant networks. Product is made for demand, it is unique, fitting customers' sizes and design, may have logo on cover. Lunch box has durable and fit bottom (black) and cover (transparent), made of high quality PET. </p>
                        <div class="box">
                          <form>
                            <div class="sizes">
                              <h3>Available sizes</h3>
                              <label for="size_s"><a href="#">300*800</a>
                                <input id="size_s" type="radio" name="size" value="s" class="size-input">
                              </label>
                              <label for="size_m"><a href="#">1200*1200</a>
                                <input id="size_m" type="radio" name="size" value="m" class="size-input">
                              </label>
                              <label for="size_l"><a href="#">610*750</a>
                                <input id="size_l" type="radio" name="size" value="l" class="size-input">
                              </label>
                            </div>
                            <p class="price">$0.44</p>
                            <p class="text-center">
                              <button type="submit" class="btn btn-outline-primary"><i class="fa fa-shopping-cart"></i> Add to cart</button>
                              <button type="submit" data-toggle="tooltip" data-placement="top" title="Add to wishlist" class="btn btn-outline-secondary"><i class="fa fa-heart-o"></i></button>
                            </p>
                          </form>
                        </div>

                   <div class="container">
    <footer class='<% controller.controller_name %>'>
    <%= yield %>
  </div>


<div class=container>
<div class="col-lg-3 col-md-6">
              <h4>Where to find us</h4>
              <p><strong>Maps</strong><br>Ukraine<br>   Kyiv Region <br>    Find on map<br>   Kyiv <br><strong>Contacts </strong></p><a href="<%= contacts_path %>">Go to contact page</a>
              <hr class="d-block d-md-none">
            </div>
            <!-- /.col-lg-3-->
            
        
            
                            <!-- /input-group-->
             </form>
              <hr>
              <h4>Stay in touch</h4>
              <p class="social"><a href="#"><i class="fa fa-facebook-square"></i></a><a href="#"><i class="fa fa-instagram"></i></a><a href="#"><i class="fa fa-google-plus"></i></a><a href="#"><i class="fa fa-envelope"></i></a></p>
            </div>
            <!-- /.col-lg-3-->
          </div>
          <!-- /.row-->
        </div>
        <!-- /.container-->
      </div>
 <!-- *** FOOTER END ***-->

</div>

</footer>