<div class="center jumbotron">
<p id="notice"><%= notice %></p>

<h1><strong><%= t('.title') %></strong></h1>

<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <thead style="background color: #e0f8f8">

<% @products.each do |product| %>
  <tr class="<%= cycle('list_line_odd', 'list_line_even')%>">
   <td> 
    <%= image_tag(product.image_url, class: 'list_image') %>
  </td>
 
  
  <% if I18n.locale == :en %>

   <td class="list_description">
     <dl>
       <dt><%= product.title %></dt>
       <dd><%= truncate(strip_tags(product.description), length:80) %></dd>
     </dl>
    </td>
    <td class= "price_line">
      <span class="price"><%= number_to_currency(product.price) %></span>
      <% else %>
     <td class="list_description">
     <dl>
       <dt><%= product.title_ru %></dt>
       <dd><%= truncate(strip_tags(product.description_ru), length:80) %></dd>
     </dl>
    </td>
     <td class= "price_line">
      <span class="price"><%= number_to_currency(product.price_ru) %></span>
      <% end %>
    <%= button_to t('.add_html'),
     line_items_path(product_id: product, locale: I18n.locale),
remote: true %>
</td>

    <td class="list actions">
      <%= link_to t('.show'), product %><br/>
      <%= link_to t('.edit'), edit_product_path(product) %><br/>
      <%= link_to t('.delete'), product, method: :delete, data: { confirm: 'Are you sure?'} %>
    </td>
 
  </tr>
  <% end %>
</table>


<%= link_to t('.new'), new_product_path %>


